<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Mi Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/home">Inicio</ion-item>
      <ion-item routerLink="/usuarios">Usuarios</ion-item>
      <ion-item routerLink="/about">Acerca de</ion-item>
      <ion-item routerLink="/contact">Contacto</ion-item>
      <ion-item>Beybi</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
